body {
    background: #000000;
}

h1 {
    text-align: center; font-size: 80px;
    border: 10px solid #ff7700;
    height: 100px;
}

#LOGOSWIFTBIKE {
    width: 90%;
    height: 200px;
    padding: 30px;
    margin: auto;
    display: inline;
    border: 15px solid rgb(255, 255, 255); size: 50%;
}
    

p {
    text-align: center; font-size: 18px;
    color: #ffffff;
    margin: 20px;
}

body { 
    background: #000000;
}

strong {
    color: rgb(255, 151, 31);
}

em strong { 
    color: rgb(255, 255, 255);
}

.missão {
    background: #1d1c1c;
    padding: 20px;
}

.titulo {
    text-align: center;
}

h2 {
    text-align: center; font-size: 30px;
}

h3 {
    text-align: center; font-size: 30px;
}

    .benefícios {
    background:#ffffff;
    padding: 20px;
    font-size: 30px;
}

.itens {
    font-style: italic;
    font-size: 18px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%
}
 
#EinsteinBicicleta {
    width: 30%;
}

.nota {
    background: #454343;
    display: inline;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

h4 {
    color: #ff7700;
    text-align: center; 
    font-size: 25px;
}

#LOGO {
    width: 30%;
}